/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  max-width: 1440px;
  background-color: #181f2a;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.main-heading {
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

.feature__heading {
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
  margin: 2rem auto 1.5rem;
}
.feature__text {
  color: #f2f2f2;
}

.productive .feature__heading {
  margin-top: 5rem;
}
.productive p {
  color: #f2f2f2;
  margin-bottom: 2.5rem;
}

.subscribe .feature__heading {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}
.subscribe p {
  color: #d9d9d9;
  text-align: center;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.cta {
  width: 20rem;
  height: 4rem;
  border: none;
  display: inline-block;
  background: linear-gradient(to right, #65e2d9, #47a8d1);
  border-radius: 5rem;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.how-it-work-btn {
  border: none;
  color: #4fded4;
  background: none;
  border-bottom: 1.8px solid #4fded4;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 0 5px 0;
  display: flex;
  align-items: center;
}
.how-it-work-btn .icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #65e2d9;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-it-work-btn .lnr {
  color: #000;
  font-size: 8px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.navbar__logo-box {
  flex-basis: 25%;
}
.navbar__list {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar__link {
  font-family: "Raleway", sans-serif;
  color: white;
}

.header__intro-wrapper {
  background: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
}
.header__intro-img {
  width: 85%;
  margin: 0 auto;
  position: relative;
  top: 4rem;
  right: 1rem;
}
.header__intro {
  color: white;
  text-align: center;
  padding: 6rem 1.2rem 2rem;
}
.header__intro-text {
  font-family: "Raleway", sans-serif;
  margin: 1.5rem auto 2.2rem;
  width: 95%;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: #f2f2f2;
}

.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6rem 0;
}
.features .feature {
  width: 100%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features .feature img {
  width: 20%;
}

.productive {
  margin: 3rem auto 0;
}/*# sourceMappingURL=main.css.map */