@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
  width: 100%;

  background: url("../images/bg-curvy-mobile.svg"),
    linear-gradient($dark-blue-intro-bg 60%, $dark-blue-main-bg 40%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @include respond(large) {
    background: url("../images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

    padding-bottom: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__intro-img {
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: 4rem;

    @include respond(large) {
      width: max-content;
      top: 0;
    }
  }

  &__intro {
    color: $white;
    text-align: center;
    padding: 6rem 1.2rem 2rem;
  }

  &__intro-text {
    font-family: $raleway-font;
    margin: 1.5rem auto 2.2rem;
    width: 95%;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    @include font-color($white, 5%);

    @include respond(large) {
      width: 30%;
      margin: 2.5rem auto;
    }

    @include respond(very-large) {
      width: 25%;
    }
  }
}
