@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// FEATURE Section
//------------------------------------

.main {
  background-color: $dark-blue-main-bg;
}

.features {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 6rem 0;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .feature {
    width: 100%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1024px) {
      width: 30%;
      margin: 5rem 4rem;
    }

    img {
      width: 20%;

      @media screen and (min-width: 1024px) {
        width: auto;
        height: 100px;
      }
    }
  }
}

// PRODUCTIVE Section
//------------------------------------

.productive {
  margin: 3rem auto 0;

  @include respond(large) {
    & .container {
      width: 75%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      & .productive-img {
        width: 50%;
      }

      & .productive-texts {
        width: 42%;
      }
    }
  }
}

// Testimonial Section
//------------------------------------

.testimonial {
  padding: 15rem 0 25rem;

  @include respond(large) {
    padding: 25rem 0;
  }

  .cards {
    width: 100%;
    @include flex-center;
    flex-direction: column;

    @include respond(large) {
      width: 70%;
      margin: 0 auto;
      flex-direction: row;
    }
  }
}

// Footer
//------------------------------------
.footer {
  background-color: $dark-blue-footer-bg;
  position: relative;
}
