@use '../abstracts/variables' as *;

// FEATURE Section
//------------------------------------

.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6rem 0;

  .feature {
    width: 100%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 20%;
    }
  }
}

// PRODUCTIVE Section
//------------------------------------

.productive {
  margin: 3rem auto 0;
}

// Testimonial Section
//------------------------------------

.testimonial {
  margin: 15rem auto;
  .cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
