@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  @include respond(medium) {
    width: 85%;
    max-width: 1440px;
    margin: 3.5rem auto 8rem;
  }

  &__logo-box {
    flex-basis: 25%;

    @include respond(medium) {
      flex-basis: 10%;
    }
  }

  &__list {
    flex: 1;
    display: flex;
    justify-content: space-between;

    @include respond(medium) {
      justify-content: end;

      .navbar__item {
        margin-left: 4.5rem;
      }
    }
  }

  &__link {
    font-family: $raleway-font;

    @include font-color($white, 20%);
    transition: all 0.3s;

    &:hover {
      color: $white;
    }

    @include respond(medium) {
      font-size: 1.6rem;
    }
  }
}
