@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Header
// ----------------------------
.cta {
  width: 20rem;
  height: 4rem;
  border: none;

  display: inline-block;
  background: linear-gradient(to right, $cyan, $blue);
  border-radius: 5rem;

  font-family: $raleway-font;
  font-weight: 700;
  letter-spacing: 1px;
  color: $white;
  cursor: pointer;
  transform: linear-gradient 0.5s;

  &:hover {
    background: linear-gradient(90deg, $blue, $cyan);
  }
}

// Productive
// ----------------------------
.how-it-work-btn {
  width: max-content;
  background: none;
  border: none;
  border-bottom: 1.8px solid darken($color: $cyan, $amount: 5%);

  @include font-color($white, 5%);
  padding: 0 0 5px 0;

  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;

  .icon {
    margin-left: 5px;
  }

  &:hover {
    color: $white;
    border-bottom: 1.8px solid $white;
  }

  &:hover .fill {
    fill: $white;
    transition: all 0.3s;
  }
}

// Form button
.form-btn {
  background: linear-gradient(to right, $cyan, $blue);
  color: $white;
  font-size: 1.4rem;
  text-transform: capitalize;
  cursor: pointer;
  transform: linear-gradient 0.5s;

  &:hover {
    background: $cyan;
  }
}

.cta:focus,
.form-btn:focus {
  outline: none;
  background: linear-gradient(90deg, darken($blue, 5%), darken($cyan, 5%));
}
