@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Get started / Subscribe Section
//------------------------------------
.subscribe {
  .form {
    @include flex-center;
    flex-direction: column;

    &-control {
      width: 100%;
    }

    @include respond(large) {
      width: 80%;
      margin: 0 auto;
      flex-direction: row;
      align-items: flex-start;
    }

    input[type="email"],
    button {
      width: 100%;
      height: auto;
      padding: 1.1rem 0;
      border-radius: 5rem;
      border: none;
    }

    @include respond(large) {
      input[type="email"] {
        width: 100%;
      }

      button {
        width: 80%;
        margin-left: 2rem;
      }
    }
    @include respond(large) {
      input[type="email"] {
        width: 100%;
      }

      button {
        width: 60%;
        margin-left: 2rem;
      }
    }
    input:focus,
    input:active {
      outline: none;
    }

    input[type="email"]::placeholder {
      @include font-color($white, 40%);
    }

    input[type="email"] {
      margin-bottom: 2rem;
      padding-left: 3rem;
    }

    .validation-text {
      display: none;
      line-height: 0;
      margin-bottom: 2rem;
      font-size: 11px;
      text-align: left;
      margin-left: 3rem;
    }

    .validation-text.success {
      color: $light-green;
    }
    .validation-text.error {
      color: $light-red;
    }
  }
}
