@use '../abstracts/variables' as *;

* {
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $default-font-size;
  font-family: $default-font;
  font-weight: 400;
  width: 100%;
  background-color: $dark-blue-intro-bg;
}

.container {
  width: 85%;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    width: 100%;
  }
}
