@use '../abstracts/variables' as *;

.main-heading {
  font-family: $raleway-font;
  font-size: 2.4rem;
  font-weight: 700;
}

// FEATURE Section
//------------------------------------
.feature {
  &__heading {
    font-size: 1.7rem;
    font-weight: 700;
    color: $white;
    margin: 2rem auto 1.5rem;
  }

  &__text {
    color: darken($color: $white, $amount: 5%);
  }
}
