@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.main-heading {
  font-family: $raleway-font;
  font-size: 2.4rem;
  font-weight: 700;

  @include respond(large) {
    width: 30%;
    margin: 0 auto;
  }

  @media screen and (min-width: 1600px) {
    font-size: 3.5rem;
  }
}

// FEATURE Section
//------------------------------------
.feature {
  &__heading {
    font-size: 1.7rem;
    font-weight: 700;
    color: $white;
    margin: 2rem auto 1.5rem;
  }

  &__text {
    @include font-color($white, 5%);
  }
}

// Productive Section
//-------------------------------------
.productive {
  .feature__heading {
    margin-top: 5rem;

    @include respond(large) {
      font-size: 2.8rem;
      width: 80%;
      margin: 0;
    }
  }

  p {
    @include font-color($white, 5%);
    margin-bottom: 2.5rem;
  }
}

// Get started / Subscribe Section
//------------------------------------
.subscribe {
  .feature__heading {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
  }

  p {
    @include font-color($white, 15%);
    text-align: center;
    line-height: 1.8;
    margin-bottom: 3rem;
  }
}
