// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Colors
// Primary
$dark-blue-misc-bg: hsl(217, 28%, 15%);
$dark-blue-main-bg: hsl(218, 28%, 13%);
$dark-blue-footer-bg: hsl(216, 53%, 9%);
$dark-blue-testimonial-bg: hsl(219, 30%, 18%);

// Accent
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 55%);
$light-red: hsl(0, 100%, 63%);

// Neutral
$white: hsl(0, 0%, 100%);

// Typography
$default-font-size: 1.4rem;
$default-font: "Open Sans", sans-serif;
$raleway-font: "Raleway", sans-serif;
